<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    ini edit
    <form action="/edit/profile" method="post">
        name 
        <input type="text" name="name" value="<%= data.name %>"><br>
        date of birth 
        <input type="date" name="dateOfBirth"><br>
        photo Profile
        <input type="text" name="photoProfile"><br>
        phone Number 
        <input type="text" name="phoneNumber">
        <button type="submit">Edit</button>
    </form>
</body>
</html>